{
    "plugins": ["@emotion", "@babel/plugin-proposal-optional-chaining"],
    "presets": [
        "@emotion/babel-preset-css-prop",
        [
            "@babel/preset-env",
            {
                "targets": "> 0.25%, not dead",
                "useBuiltIns": "usage",
                "corejs": "3.6.4",
                "shippedProposals": true,
                "modules": false
            }
        ],
        "@babel/preset-typescript"
    ]
}
